<div>
  <div class="flex justify-between items-center mb-6">
    <h2 class="text-xl font-semibold font-serif text-gray-200">Questions for: {{subject?.title}}</h2>
    <button
      *ngIf="!hasSubSubjects()"
      (click)="toggleAddQuestionInput()"
      class="bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded flex items-center gap-1">
      <i class="fa-solid fa-question text-xl"></i>
      <em>Add Question</em>
    </button>
  </div>

  <!-- Loading State -->
  <div *ngIf="isLoading" class="text-center py-8">
    Loading questions...
  </div>

  <!-- Questions List -->
  <div *ngIf="!isLoading" class="space-y-3">
    <app-add-question
      *ngIf="!hasSubSubjects() && displayAddQuestionForm"
      [subject]="subject"
      (questionCreated)="loadQuestions()"
      (onClose)="displayAddQuestionForm = false"
    >
    </app-add-question>
    <div *ngFor="let question of questions"
         class="border rounded-lg hover:bg-gray-50 cursor-pointer">

      <section
        *ngIf="!(displayEditQuestionForm && clickedQuestionForEdit == question)"
        class="flex justify-between items-center"
      >
        <!-- question info -->
        <div (click)="onSelect(question)" class="grow  p-4">
          <div class="font-semibold">{{question.text}}</div>
          <div class="text-gray-600">{{question.instructions}}</div>
        </div>

        <div>
          <!-- Edit button -->
          <button class="bg-blue-500 py-1 px-2" (click)="displayEditQuestionForm = true; clickedQuestionForEdit = question">edit</button>
          <!-- Delete button -->
          <div  class="bg-red-300 inline py-1 px-2">
            <button class="bg-red-500  py-1 px-2" (click)="confirmDeletion = true; clickedQuestionForDelete = question">delete</button>
            <em *ngIf="confirmDeletion && question == clickedQuestionForDelete">
              <em (click)="onDelete(question)">✅</em>
              <em (click)="confirmDeletion = false">❌</em>
            </em>
          </div>
        </div>
      </section>

      <app-edit-question
        *ngIf="displayEditQuestionForm && clickedQuestionForEdit == question"
        [question]="question"
        (questionEdited)="loadQuestions()"
        (onClose)="displayEditQuestionForm = false"
      >
      </app-edit-question>

    </div>

    <!-- Empty State -->
    <div *ngIf="questions.length === 0"
         class="text-center text-gray-500 py-8">
      No questions found for this subject
    </div>
  </div>
</div>
