<div class="p-4">
  <!-- Initial State - No Subject Selected -->
  <div *ngIf="!selectedSubject"
       class="text-center text-gray-500 mt-8">
    Select a subject to view its questions
  </div>

  <!-- When Subject is Selected -->
  <ng-container *ngIf="selectedSubject">
    <!-- Show Questions List -->
    <app-question-list
      *ngIf="!selectedQuestion"
      [subject]="selectedSubject"
      (questionSelected)="onQuestionSelect($event)">
    </app-question-list>

    <!-- Show Answer List when Question is Selected -->
    <app-answer-list
      *ngIf="selectedQuestion"
      [question]="selectedQuestion"
      (backToQuestions)="selectedQuestion = null">
    </app-answer-list>
  </ng-container>
</div>
